.card {
    width: 100vw;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .card h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .card p {
    font-size: 14px;
    color: #888;
  }
  
  .card img {
    width: 30vw;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  .button {
    flex: 0 0 calc(30% - 20px);
    display: inline-block;
    padding: 10px 20px;
    background-color: #ccc;
    color: #fff;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #aaa;
  }

  
  
  
  
  
  
  